#  Example Qudi configuration file.
#
#
#
# IMPORTANT: The format of every 'module.Class' line has changed on 28.6.2015.
# =========  The class name now needs to be explicitly given here in the config.
#		  the config line must the form package.module.Class.ClassName

global:
    # list of modules to load when starting
    startup: ['anc350','laser']

    # Module server configuration for accessing qudi GUI/logic/hardware modules from remote clients
    remote_modules_server:
        address: 'localhost'
        port: 12345

    # Server port for serving the active qudi module namespace locally (localhost).
    # Used by e.g. the Qudi jupyter kernel.
    namespace_server_port: 18861

    # If this flag is set (True), all arguments passed to qudi module APIs from remote
    # (jupyter notebook, qudi console, remote modules) will be wrapped and passed "per value"
    # (serialized and de-serialized). This is avoiding a lot of inconveniences with using numpy in
    # remote clients.
    # If you do not want to use this workaround and know what you are doing, you can disable this
    # feature by setting this flag to False.
    force_remote_calls_by_value: True

    # Qss stylesheet for controlling the appearance of the GUIs.
    # Absolute path or relative to qudi.artwork.styles
    stylesheet: 'qdark.qss'

    # Default root directory for measurement data storage. All eventual data sub-directories should
    # be contained within this directory. This is not enforced, just convention.
    # The fallback directory is <user home>/qudi/Data/
    # default_data_dir: C:\Users\neverhorst\qudi\Data

    # Save data to daily data sub-directories by default
    daily_data_dirs: True

hardware:

    switch_z_tip:
        module.Class: 'switches.scanner_stage_switch.ScannerStageSwitch'
        options:
            coil_channel: '/Dev1/Ctr2'

    switch_z_sample:
        module.Class: 'switches.scanner_stage_switch.ScannerStageSwitch'
        options:
            coil_channel: '/Dev1/Ctr1'

    motorstage_ELL14:
        module.Class: 'motor.ell14_rotation_stage.MotorRotationELL14'
        options:
            resource_name: 'ASRL4::INSTR'


    ni_scanner:
        module.Class: 'interfuse.ni_scanning_probe_interfuse.NiScanningProbeInterfuse'
        connect:
            scan_hardware: 'ni_io'
            analog_output: 'ni_ao'
        options:
            ni_channel_mapping:
                x: 'ao0'
                y: 'ao1'
                #z: 'ao2'
                #a: 'ao3'
                APD1: 'PFI0'
            position_ranges: # in m
                x: [0, 164e-6]
                y: [0, 164e-6]
                #z: [0, 8e-6]
            frequency_ranges:
                x: [1, 5000]
                y: [1, 5000]
                #z: [1, 1000]
            resolution_ranges:
                x: [1, 10000]
                y: [1, 10000]
                #z: [1, 10000]
            input_channel_units:
                APD1: 'c/s'
                #AI0: 'V'
                #APD2: 'c/s'
                #APD3: 'c/s'
            backwards_line_resolution: 50 # optional
            maximum_move_velocity: 400e-6 #m/s

    ni_io:
        module.Class: 'ni_x_series.ni_x_series_finite_sampling_io.NIXSeriesFiniteSamplingIO'
        options:
            device_name: 'Dev1'
            input_channel_units:  # optional
                PFI0: 'c/s'
                #PFI9: 'c/s'
                #PFI10: 'c/s'
                #ai0: 'V'
                #ai1: 'V'
            output_channel_units:
                'ao0': 'V'
                'ao1': 'V'
                #'ao2': 'V'
            adc_voltage_ranges:
                #ai0: [-10, 10]  # optional
                #ai1: [-10, 10]  # optional
            output_voltage_ranges:
                ao0: [-0.45, 0.45]
                ao1: [-0.45, 0.45]
                #ao2: [0, 3]

            frame_size_limits: [1, 1e9]  # optional #TODO actual HW constraint?
            output_mode: 'JUMP_LIST' #'JUMP_LIST' # optional, must be name of SamplingOutputMode
            read_write_timeout: 10  # optional
            sample_clock_output: '/Dev1/PFI6' # optional

    ni_ao:
        module.Class: 'ni_x_series.ni_x_series_analog_output.NIXSeriesAnalogOutput'
        options:
            device_name: 'Dev1'
            channels:
                ao0:
                    limits: [-0.45, 0.45]
                    keep_value: True
                ao1:
                    limits: [-0.45, 0.45]
                    keep_value: True
                #ao2:
                #    limits: [0.0, 3.0]
                #    keep_value: True

    ni_instreamer:
      module.Class: 'ni_x_series.ni_x_series_in_streamer.NIXSeriesInStreamer'
      options:
          device_name: 'Dev1'
          digital_sources:  # optional
              - 'PFI0'
          #analog_sources:  # optional
              #- 'ai0'
              #- 'ai1'
          external_sample_clock_source: 'Ctr0'  # optional
          external_sample_clock_frequency: 100  # optional
          #adc_voltage_range: [-10, 10]  # optional
          #max_channel_samples_buffer: 10000000  # optional
          #read_write_timeout: 10  # optional

    anc350:
        module.Class: 'ANC350.qudi_anc350_multi_device.ANC350_multi_device'
        options;
            initial_device: 385
            device_list:
                '385':
                    position_ranges:
                        - [0e-6, 2500e-6]
                    voltage_ranges:
                        - [0,70]
                    z_up_voltage: 35
                    fine_position_ranges:
                        - [0,4e-6]
                    axes:
                        z: 0
                '386':
                    position_ranges:
                        - [0e-6, 14000e-6]
                        - [0e-6, 14000e-6]
                        - [8500e-6, 14000e-6]
                    voltage_ranges:
                        - [0,70]
                        - [0,70]
                        - [0,70]
                    z_up_voltage: 40
                    fine_position_ranges:
                        - [0,20e-6]
                        - [0,20e-6]
                        - [0,4e-6]
                    axes:
                        x: 0
                        y: 1
                        z: 2
                '012':
                    position_ranges:
                        - [-1000e-6, 15000e-6]
                        - [-1000e-6, 16000e-6]
                        - [400e-6, 15000e-6]
                    restricted_position:
                        - [1000e-6, 2000e-6]
                        - [5000e-6, 0]
                    voltage_ranges:
                        - [0,70]
                    z_up_voltage: 30
                    fine_position_ranges:
                        - [0,4e-6]
                    axes:
                        x: 0
                        y: 1
                        z: 2
                '321':
                    position_ranges:
                        - [0e-6, 13000e-6]
                        - [0e-6, 15000e-6]
                        - [850e-6, 13000e-6]
                    voltage_ranges:
                        - [0,70]
                    z_up_voltage: 30
                    fine_position_ranges:
                        - [0,4e-6]
                    axes:
                        x: 0
                        y: 1
                        z: 2

    timetagger_base:
        module.Class: 'swabian_instruments.timetagger_base.TimeTaggerBase'
        options:
            channel_triggers: '{0: 0.8, 1: 0.8}'

    timetagger_fastcounter:
        module.Class: 'swabian_instruments.timetagger_fast_counter.TimeTaggerFastCounter'
        options:
            timetagger_channel_apd_0: 0
            timetagger_channel_apd_1: 1
            timetagger_channel_detect: 2
            timetagger_channel_sequence: 5
            timetagger_sum_channels: 1
        connect:
                timetagger_base: 'timetagger_base'

    timetagger_NDhistograms:
        module.Class: 'swabian_instruments.timetagger_timedifferencesND.TimeTaggerNDHistograms'
        options:
            timetagger_channel_apd_0: 0
            timetagger_channel_apd_1: 1
            timetagger_channel_detect: 2
            timetagger_n_bins_dimension_two: 2
            timetagger_sum_channels: 1
            timetagger_channel_next_dimension: 3
        connect:
            timetagger_base: 'timetagger_base'


    timetagger_slowcounter:
        module.Class: 'swabian_instruments.timetagger_counter.TimeTaggerCounter'
        options:
            timetagger_channel_apd_0: 0
            timetagger_channel_apd_1: 1
            timetagger_sum_channels: 0
        connect:
            timetagger_base: 'timetagger_base'


    #tt_odmr:
    #    module.Class: 'timetagger_odmr_counter.TimeTaggerODMRCounter'
    #    options:
    #        timetagger_channel_apd_0: 1
    #        timetagger_channel_apd_1: 0
    #        timetagger_channel_trigger: 2
    #    connect:
    #        timetagger_base: 'timetagger_base'

    correlator:
        module.Class: 'swabian_instruments.timetagger_correlation.TimeTaggerCorrelation'
        options:
            timetagger_channel_apd_0: 0
            timetagger_channel_apd_1: 1
        connect:
            timetagger_base: 'timetagger_base'


    AWG:
        module.Class: 'awg.QUEST_AWG.AWG_spectrum'
        options:
            tmp_work_dir: 'C:\Users\Administrator\Desktop\temp_test_qudi'
            awg_ip_address: 192.168.150.11
            #awg_ip_address: 192.168.150.10
            analog_amplitudes: {'a_ch0': 1.0,
                                'a_ch1': 1.0,
                                'a_ch2': 1.0,
                                'a_ch3': 1.0}
            timeout: 30

    laser:
        module.Class: 'laser.swabian_dlnsec.SwabianDLnSec'
        options:
            interface: 'COM5' #check

    bilt:
        module.Class: 'power_supply.BILT_modular_system.BiltPowerSupply'
        options:
            ip_address: '192.168.150.118'
            port: 5025

    mw_synthnvpro:
        module.Class: 'microwave.mw_source_windfreak_synthnvpro.MicrowaveSynthNVPro'
        options:
            serial_port: 'COM8'
            comm_timeout: 1000  # in seconds
            output_channel: 0  # either 0 or 1

    microwave_smbv:
        module.Class: 'microwave.mw_source_smbv.MicrowaveSmbv'
         # smbv_conn_type: 'ETHERNET'
        options:
        # visa_address: 'GPIB0::12::INSTR'
            smbv_conn_type: 'USB'
            smbv_ip_address: '192.168.150.71'
            smbv_port: 5025
            smbv_usb_addr: 'USB0::0x0AAD::0x005F::255921::INSTR'

    mw_sgs100:
        module.Class: 'microwave.mw_source_sgs100.MicrowaveSGS'
        options:
            sgs_ip_address: 192.168.150.21
            sgs_port: 5025

logic:

    counterlogic_tt:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        connect:
            streamer: 'timetagger_slowcounter'

# change to the new NI card
    counterlogic_ni:
        module.Class: 'time_series_reader_logic.TimeSeriesReaderLogic'
        connect:
            streamer: 'ni_instreamer'

    scanning_probe_logic:
        module.Class: 'scanning_probe_logic.ScanningProbeLogic'
        options:
            max_history_length: 20
            max_scan_update_interval: 2
            position_update_interval: 1
        connect:
            scanner: ni_scanner

    scanning_data_logic:
        module.Class: 'scanning_data_logic.ScanningDataLogic'
        options:
            max_history_length: 20
        connect:
            scan_logic: scanning_probe_logic

    scanning_optimize_logic:
        module.Class: 'scanning_optimize_logic.ScanningOptimizeLogic'
        connect:
            scan_logic: scanning_probe_logic


""" Is this one realy in use? need to make it viable for z optimization and change the NI card connect"""
    #scanner_ni_anc350_interfuse:
    #    module.Class: 'interfuse.confocal_scanner_ni_anc350_interfuse.NIANC350interfuse'
    #    connect:
    #        xy_scanner: 'nicard'
    #        z_control: 'anc350'

""" This part include the magnet scanner written by Dan. The new Qudi has an option for scanning_prob logic that can be relevant and we should change the logic to it when possible"""
    magnet_scanner:
        module.Class: 'magnet_functions.MagnetScanFunctions'
        connect:
            # save_logic: 'savelogic'
            scanner: 'anc350'
        options:
            serialNum: '012'
            scan_restriction:
                - [1000e-6, 2000e-6]
                - [5000e-6, 0]

    tip_scanner:
        module.Class: 'magnet_functions.MagnetScanFunctions'
        connect:
            # save_logic: 'savelogic'
            scanner: 'anc350'
        options:
            serialNum: '386'
            scan_restriction:
                - [1000e-6, 2000e-6]
                - [5000e-6, 0]

    poimanagerlogic:
        module.Class: 'poi_manager_logic.PoiManagerLogic'
        connect:
            scanning_logic: 'scanning_probe_logic'
            optimize_logic: 'scanning_optimize_logic'
            data_logic: 'scanning_data_logic'


    #odmrlogic:
    #    module.Class: 'odmr_logic.ODMRLogic'
    #    scanmode: 'SWEEP'
    #    connect:
    #        odmrcounter: 'nicard'
    #        fitlogic: 'fit'
    #        microwave1: 'mw_sgs100'
    #        savelogic: 'savelogic'
    #        taskrunner: 'tasklogic'

    #odmrawglogic_old:
    #    module.Class: 'odmr_awg_logic.ODMRLogic'
    #    scanmode: 'SWEEP'
    #    connect:
    #        odmrcounter: 'tt_odmr'
    #        fitlogic: 'fit'
    #        microwave: 'mw_sgs100'
    #        savelogic: 'savelogic'
    #        taskrunner: 'tasklogic'
    #        pulsegenerator: 'AWG'

    #odmrawglogic:
    #    module.Class: 'odmr_awg_logic.ODMRLogic'
    #    scanmode: 'LIST'
    #    gate_channel: 'd_ch0'
    #    laser_channel: 'd_ch2'
    #    i_channel: 'a_ch0'
    #    q_channel: 'a_ch1'
    #    connect:
    #        odmrcounter: 'tt_odmr'
    #        fitlogic: 'fit'
    #        microwave: 'mw_sgs100'
    #        savelogic: 'savelogic'
    #        taskrunner: 'tasklogic'
    #        pulsegenerator: 'AWG'

"""What is this? controling laser polarizer or something else?"""
    #laserscanner:
    #    module.Class: 'laser_scanner_logic.LaserScannerLogic'
    #    connect:
    #        confocalscanner1: 'scanner_ni_anc350_interfuse'
    #        #savelogic: 'savelogic'


    #qdplot:
    #    module.Class: 'qdplot_logic.QdplotLogic'
    #    connect:
    #        savelogic: 'savelogic'

    pulsedmasterlogic:
        module.Class: 'pulsed.pulsed_master_logic.PulsedMasterLogic'
        connect:
            pulsedmeasurementlogic: 'pulsedmeasurementlogic'
            sequencegeneratorlogic: 'sequencegenerator'

    pulsedmasterlogic_ND:
        module.Class: 'pulsed.pulsed_master_logic.PulsedMasterLogic'
        connect:
            pulsedmeasurementlogic: 'pulsedmeasurementlogic_ND'
            sequencegeneratorlogic: 'sequencegenerator'


    sequencegenerator:
        module.Class: 'pulsed.sequence_generator_logic.SequenceGeneratorLogic'
        assets_storage_path: C:\\Users\\\Administrator\\Desktop\\temp_test_qudi
        connect:
            pulsegenerator: 'AWG'

    pulsedmeasurementlogic:
        module.Class: 'pulsed.pulsed_measurement_logic.PulsedMeasurementLogic'
        connect:
            #fitlogic: 'fit'
            #savelogic: 'savelogic'
            fastcounter: 'timetagger_fastcounter'
            microwave: 'mw_sgs100'
            pulsegenerator: 'AWG'
        options:
            raw_data_save_type: 'text'


    pulsedmeasurementlogic_ND:
        module.Class: 'pulsed.pulsed_measurement_logic.PulsedMeasurementLogic'
        connect:
            #fitlogic: 'fit'
            #savelogic: 'savelogic'
            fastcounter: 'timetagger_NDhistograms'
            microwave: 'mw_sgs100'
            pulsegenerator: 'AWG'
        options:
            raw_data_save_type: 'text'

    #optimizer:
    #    module.Class: 'optimizer_logic.OptimizerLogic'
    #    connect:
    #        confocalscanner1: 'nicard'
    #        fitlogic: 'fit'

    #fit:
    #    module.Class: 'fit_logic.FitLogic'

    #savelogic:
    #    module.Class: 'save_logic.SaveLogic'
    #    win_data_directory: 'C:\Users\Administrator\Dropbox (Weizmann Institute)\Data\Shakira\QudiData'
    #    unix_data_directory: '/$HOME/'
    #    log_into_daily_directory: True

    laser_hwp_logic:
        module.Class: 'laser_hwp_logic.LaserHWPLogic'
        options:
            laser_read_channel: '/Dev1/ai0'
            laser_read_voltage_range: [0.0, 5.0]
            laser_read_sampling_freq: 1000
            laser_read_samples: 50
        connect:
            diode_laser: 'laser'
            hwp_stage: 'motorstage_ELL14'
            #fit_logic: 'fit'

    correlation_logic:
        module.Class: 'correlation_logic.Autocorrelation'
        connect:
            correlator: 'correlator'
            #fitlogic: 'fit'
            #savelogic: 'savelogic'
            poimanagerlogic: 'poimanagerlogic'
            laserlogic: 'laser_hwp_logic'

gui:

    countergui_ni:
      module.Class: 'time_series.time_series_gui.TimeSeriesGui'
      options:
        use_antialias: True  # optional, set to False if you encounter performance issues
      connect:
          _time_series_logic_con: counterlogic_ni

    countergui_tt:
      module.Class: 'time_series.time_series_gui.TimeSeriesGui'
      options:
        use_antialias: True  # optional, set to False if you encounter performance issues
      connect:
          _time_series_logic_con: counterlogic_tt


    confocalgui:
        module.Class: 'scanning.scannergui.ScannerGui'
        options:
            image_axes_padding: 0.02
            default_position_unit_prefix: null  # optional, use unit prefix characters, e.g. 'u' or 'n'
            optimizer_plot_dimensions: [2]#,1]
        connect:
            scanning_logic: scanning_probe_logic
            data_logic: scanning_data_logic
            optimize_logic: scanning_optimize_logic

    pulsedmeasurement:
        module.Class: 'pulsed.pulsed_maingui.PulsedMeasurementGui'
        connect:
            pulsedmasterlogic: 'pulsedmasterlogic'

    pulsedmeasurementND:
        module.Class: 'pulsed.pulsed_maingui.PulsedMeasurementGui'
        connect:
            pulsedmasterlogic: 'pulsedmasterlogic_ND'

    lasergui:
        module.Class: 'laser.laser_hwp.LaserGUI'
        connect:
            laserlogic: 'laser_hwp_logic'

    #odmr:
    #    module.Class: 'odmr.odmrgui.ODMRGui'
    #    connect:
    #        odmrlogic1: 'odmrlogic'
    #        savelogic: 'savelogic'

    #odmr_awg:
    #    module.Class: 'odmr.odmrgui.ODMRGui'
    #    connect:
    #        odmrlogic1: 'odmrawglogic'
    #        savelogic: 'savelogic'


    #calculator:
    #    module.Class: 'magnetic_field_calculator.mf_calculator.CalculatorGui'

    poimanagergui:
        module.Class: 'poimanager.poimangui.PoiManagerGui'
        connect:
            poimanagerlogic: 'poimanagerlogic'
            scannerlogic: 'scanning_probe_logic'

    #nv_depth_calculator:
    #    module.Class: 'analysis_methods.NV_depth_calculator.NVdepthGui'
    #    connect:
    #        savelogic: 'savelogic'

    #noise_spectrum_calculator:
    #    module.Class: 'analysis_methods.noise_spectrum.NoiseSpectrumGui'
    #    connect:
    #        savelogic: 'savelogic'
    #        fitlogic: 'fit'

    correlation_gui:
        module.Class: 'correlation.correlationgui.CorrelationGui'
        connect:
            correlationlogic: 'correlation_logic'


